.main-heading {
    font-family: 'Sacramento', cursive;
}

.copyright {
    height: 30px;

    span {
        font-family: 'Sacramento', cursive;
    }
}

.name-skeleton {
    width: 80%;
    height: 10pt;
}

.email-skeleton {
    width: 70%;
    height: 12px;
}

.contact-skeleton {
    width: 60%;
    height: 12px;
}

.ab {
    width: 100px;
}